.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.list {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
  border: var(--border-default);
  border-radius: 8px;
  padding: 8px;
}

.textWithIcon {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}
