.wrapper {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--brian);
}

.pillGroup {
  display: flex;
  gap: 16px;
  align-items: center;
}

.pill {
  border-radius: 8px;
  border: 1px solid white;
  padding: 8px;
}

.firefox {
  color: orange;
  font-size: 40px;
}

.windows {
  color: dodgerblue;
  font-size: 40px;
  display: block;
}
