@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  /* Colors */
  --background-color: #1e1e2e;
  --text-color: #cdd6f4;

  /* Typography */
  --font-family: "Lexend", sans-serif;
  --font-style: normal;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;

  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400; /* normal weight */
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-size: var(--font-size-base);
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: 400;
}
